*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

body {
    background: #FAFAFA;
    min-height: 100vh;
    max-width: 100vw;
}

header {
    background: linear-gradient(180deg, #8F3DEA, #5C2E99);
    display: flex;
    flex-direction: row;
    height: 60px;
}

.leftHeader {
    margin-left: 10%;
}

.leftHeader img{
    margin-top: -15px;
}

.rightHeader{ 
    margin-left: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

body a{
    text-decoration: none;
    color: rgb(192, 177, 177);
}

.rightHeader p{
    color: #eaeaea;
    margin-right: 20px;
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: row;
}

.leftMenu{
    background-color: #2A2A35;
    width: 15%;
    height: 90.8vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.menus {
    text-align: center;
    margin: 13.5px 40px;
}

.menus .underline1::before {
    content: '';
    position: absolute;
    height: 0.1px;
    width: 15%;
    bottom: 542.5px;
    left: 0;
    background:rgb(192, 177, 177, 0.3);
}

.menus .underline2::before {
    content: '';
    position: absolute;
    height: 0.1px;
    width: 15%;
    bottom: 487.5px;
    left: 0;
    background:rgb(192, 177, 177, 0.3);
}

.menus .underline3::before {
    content: '';
    position: absolute;
    height: 0.1px;
    width: 15%;
    bottom: 432.5px;
    left: 0;
    background:rgb(192, 177, 177, 0.3);
}



.menus .underline4::before {
    content: '';
    position: absolute;
    height: 0.1px;
    width: 15%;
    bottom: 377.5px;
    left: 0;
    background:rgb(192, 177, 177, 0.3);
}

.menus a {
    display: flex;
    flex-direction: row;
    text-align: center;
}


.menus i{
    margin-right: 25px;
    margin-left: -20px;
}

.menus a h5{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.agendalabel {
    margin-left: 4px;
}

.menus {
    background-color: #2A2A35;
    width: 205px;
    margin-left: 0px;
    height: 55px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#meusCursos {
    background-color: #10101a;
}

#meusCursos a{
    color:#7829df;
}

.centralMenu {
    display: flex;
    flex-direction: column;
}

.centralMenu div {
    margin: 5px;
}

.firstRowCourses{
    display: flex;
    flex-direction: row;
}

.bottomInfos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bottomInfos p {
    margin-left: 200px;
    color: #CA89FF;
    font-weight: 600;
}

.bottomInfos .aprovado {
    margin-left: 140px;
    font-weight: 400px;
}

.secondRowCourses{
    display: flex;
    flex-direction: row;
}

.underlinePurpleD {
    background-color: #8F0DFF;
    height: 3px;
    content: '';
}


.underlinePurpleND {
    background-color: #EACCFF;
    height: 3px;
    content: '';
}

.curso {
    text-align: center;
}


